@model CartDto

<form method="post">
    <html>
    <head>

    </head>
    <body>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category Name</th>
                <th scope="col">Price</th>
            </tr>
           </thead>
            @{
                foreach (var cartObj in Model.CartDetails)
                {
                            <tr>
                                <td>

                                        <img style="width:150px; height:150ox" class="img-thumbnail" src="https://imgholder.ru/323x300/9dbf16/fff&text=image"/>

                                </td>
                                <td>@cartObj.Product.Name</td>
                                <td>@cartObj.Product.CategoryName</td>
                                <td>@((cartObj.Product.Price).ToString("c"))</td>
                                <td>
                                    <a class="btn btn-danger" asp-action="Remove" asp-route-cartDetailsId="@cartObj.CartDetailsId" role="button">Delete</a>
                                </td>
                            </tr>
                }
            }

            </tbody>
        </table>
   <div class="row">
      <div class="col-6">
        <span>Coupon:</span>
        <input />
        <button type="submit" class="btn btn-sm btn-success">Apply</button>
      </div>
      <div class="col-6 text-end">
        <span class="text-danger" style="font-size:21px;"> Order Total : <br /></span>
        <span class="text-success"> Order Discount :</span>
      </div>
    </div>
          <br />                  
         <div class="d-flex gap-2 mb-3">
                                <a class="btn btn-primary" asp-action="ProductCreate" role="button">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">

                                 <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>

                                </svg>
                                  ProductCreate
                                </a>
                        </div>
    </body>
</html>
</form>
